.container{
  width: 700px;
  height: 450px;
  background-color: #F2F2F2;
  color: var(--white);
  margin-top: 0px;
  padding: 20px;
  border-radius: 5px;
  overflow: auto;
  border: solid 1px;
  border-color: #fff;
  margin-top: 20px;
}
.cabecario{
  float: right;
}
.linha{
  width: 100%;
  border-bottom: solid 1px #fff;
  margin-top: 20px;
}
.titulo{
  font-size: 20px;
  color: skyblue;
}
.containerItem{
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  strong{
    color: var(--green-900)
  }
}
.description{
  margin-top: 0.5rem;
  word-break: break-all;
}
.button{
 width: 120px;
 height: 36px;
 border: none;
 border-radius: 5px;
 background-color: skyblue;
 color: #fff;
 margin-top: 10px;
 border: solid 1px;
 border-color: #fff;
}
.table{
  font-size: 1.4rem;
  color: #fff;
}
.label{
  padding-left: 10px;
  font-size: 16px;
}
.input{
  background-color: var(--dark-900);
  border:0;
  height: 35px;
  border-radius: 0.3rem;
  color: var(--white);
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 12px;
  margin: 5px;
  margin-bottom: 20px;
  flex-direction: row;
}
.inputNome{
  background-color: var(--dark-900);
  border:0;
  height: 35px;
  width: 100%;
  border-radius: 0.3rem;
  color: var(--white);
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 12px;
  margin: 5px;
  margin-bottom: 20px;
  flex-direction: row;
}
.inputFunction{
  background-color: var(--dark-900);
  border:0;
  height: 35px;
  width: 48%;
  border-radius: 0.3rem;
  color: var(--white);
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 12px;
  margin: 5px;
  margin-bottom: 20px;
  flex-direction: row;
}
.p1{
  color: #000;
  font-size: 12px;
  
  align-items: center;
  justify-content: space-between;
}

.input_cargo{
  background-color: var(--dark-900);
  border:0;
  display: block;
  height: 40px;
  border-radius: 0.3rem;
  color: var(--white);
  border: 1px solid #ccc;
  margin-bottom: 1rem;
  padding: 10px;
  font-size: 10px;
  margin-top: 10px;
  margin: 3px;
  
  width: 110px;
}