.container{
  background-color: #fff;
  width: 200px;
  height: 250px;
  margin-top: 30px;
  margin-left: 20px;
  padding: 10px;
  padding-top: 10px;
  border-radius: 5px;
  font-size: 13px;


}

.spTitulo {
  padding-top: 20px;
  font-size: 15px;
 
}

.spNg {
  padding-top: 7px;
  font-size: 13px;
  padding: 10px;
  background-color: red;
  height: 40px;
  border-radius: 5px;
  color: #fff;
  margin-top: 10px;

  

}

.spCon {
  padding-top: 7px;
  font-size: 13px;
  padding: 10px;
  background-color: #3ADF00;
  height: 40px;
  border-radius: 5px;
  color: #fff;
  margin-top: 10px;

}

.spAg {
  padding-top: 7px;
  font-size: 13px;
  padding: 10px;
  background-color:  #819FF7;
  height: 40px;
  border-radius: 5px;
  color: #fff;
  margin-top: 10px;

}

.spEa {
  padding-top: 7px;
  font-size: 13px;
  padding: 10px;
  background-color:  #FFBF00;
  height: 40px;
  border-radius: 5px;
  color: #fff;
  margin-top: 10px;

  

}

.Cp{
  display: flex;
  padding: 30px;
}

